@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jacob Gifford";
}

<h1>Jacob Gifford</h1>
<br />

<img src="img/hiking.jpg" />
<br />

<p>
    In IS 413, I hope to become comfortable developing web applications.
    I want to learn this stuff so that I can use it well in my career.
</p>
<br />

<h2>Jobs I'm interested in:</h2>
<ul>
    <li>Data Analyst</li>
    <li>Software Engineer</li>
    <li>Database Administrator</li>
</ul>
